/* =================================================================================================================== */
/* media query max width 850px */
/* =================================================================================================================== */
@media (max-width: 850px) {
  /* header section code  ===========================================================================================================*/
  .navbar {
    display: none;
  }
  .sm-hide {
    display: none;
  }
  .burger {
    display: block;
  }
  .logo img {
    width: 160px;
  }
  body:has(input#burger:checked) .mobile-menu {
    position: absolute;
    top: 120px;
    right: 0;
    height: calc(100vh - 150px);
    background: linear-gradient(to bottom, #000000 0%, #011c2a 100%);
    border-radius: 20px;
    width: 300px;
    z-index: 4;
    display: block;
  }
  .mobile-menu ul {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .mobile-menu ul li {
    list-style: none;
  }
  .mobile-menu ul li a {
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }
  .mobile-menu ul li a:hover {
    color: #0b8fcf;
  }

  /* body section code =========================================================================================================== */

  /* footer ===========================================================================================================*/
  .inner-footer {
    padding: 45px 30px 25px 30px;
  }
  .info {
    flex-direction: column;
  }
  .contact {
    width: 100%;
  }
  .contact:nth-child(1) {
    border: none;
  }
  .copyright {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .copyright p {
    text-align: center;
  }
  .design h1 {
    font-size: 80px;
  }
}

/* =================================================================================================================== */
/* media query max width 550px */
/* =================================================================================================================== */
@media (max-width: 550px) {
  /* footer ===========================================================================================================*/
  .design h1 {
    font-size: 70px;
    text-align: center;
  }
}
