/* =================================================================================================================== */
/* media query max width 1600px */
/* =================================================================================================================== */

@media (max-width: 1600px) {
  /* body section code =========================================================================================================== */
  .hero-content {
    padding: 16% 0 0 0;
  }
  .hero-content h1 {
    font-size: 65px;
  }
  .hero-content h1 span {
    font-size: 65px;
  }
  .desktop-imges img {
    width: 95%;
  }
}

/* =================================================================================================================== */
/* media query max width 1366px */
/* =================================================================================================================== */
@media (max-width: 1366px) {
  .hero-content h1 {
    font-size: 60px;
  }
  .hero-content h1 span {
    font-size: 60px;
  }
  .design h1 {
    font-size: 140px;
  }
  .padding {
    padding: 0 27%;
  }
  .ftr-box {
    width: 22%;
  }
}

/* =================================================================================================================== */
/* media query max width 1200px */
/* =================================================================================================================== */
@media (max-width: 1200px) {
  .hero-content h1 {
    font-size: 50px;
  }
  .hero-content h1 span {
    font-size: 50px;
  }
  .design h1 {
    font-size: 120px;
  }
  .title {
    padding: 0 15%;
  }
  .icon-card {
    padding: 20px 60px;
  }
  .padding {
    padding: 0 20%;
  }
  .ftr-box {
    width: 25%;
  }
  .graphic-card img {
    height: 350px;
  }
}
/* =================================================================================================================== */
/* media query max width 1024px */
/* =================================================================================================================== */
@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 45px;
  }
  .hero-content h1 span {
    font-size: 45px;
  }
  .design h1 {
    font-size: 100px;
  }
  .title {
    padding: 0px 10%;
  }
  .icon-card {
    padding: 20px 30px;
  }
  .icon-card h3 {
    font-size: 26px;
  }
  .desktop-imges img {
    object-fit: cover;
  }
  .padding {
    padding: 0 16%;
  }
  .ftr-box {
    width: 30%;
  }
  .graphic-card img {
    height: 300px;
  }
  .list {
    padding: 0 20px 20px 20px;
  }
}

/* =================================================================================================================== */
/* media query max width 850px */
/* =================================================================================================================== */
@media (max-width: 850px) {
  /* header section code  ===========================================================================================================*/
  .navbar {
    display: none;
  }
  .sm-hide {
    display: none;
  }
  .burger {
    display: block;
  }
  .logo img {
    width: 160px;
  }
  body:has(input#burger:checked) .mobile-menu {
    position: absolute;
    top: 120px;
    right: 0;
    height: calc(100vh - 150px);
    background: linear-gradient(to bottom, #000000 0%, #011c2a 100%);
    border-radius: 20px;
    width: 300px;
    z-index: 4;
    display: block;
  }
  .mobile-menu ul {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .mobile-menu ul li {
    list-style: none;
  }
  .mobile-menu ul li a {
    font-family: "inter", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }
  .mobile-menu ul li a:hover {
    color: #0b8fcf;
  }

  /* body section code =========================================================================================================== */

  .hero-content {
    width: 100%;
  }
  .hero-img {
    width: 100%;
    margin-top: 50px;
  }
  .hero-content h1 {
    font-size: 60px;
  }
  .hero-content h1 span {
    font-size: 60px;
  }

  .title {
    padding: 0;
  }

  .title-h2,
  .title-h2-white {
    font-size: 35px;
  }

  .title-h2 span,
  .title-h2-white span {
    font-size: 35px;
  }
  .icon-card {
    padding: 20px 20px;
  }
  .icon-card h3 {
    font-size: 22px;
  }
  .icon {
    width: 90px;
  }
  .icon img {
    width: 50px;
    height: 50px;
  }

  .everything-you-need {
    padding: 80px 0 60px 0;
  }

  .img-card {
    width: 320px;
  }
  .overlay {
    padding: 95% 10% 10% 10%;
  }

  .title-n-btn {
    flex-direction: column;
  }

  .title-n-btn div:nth-child(1) {
    width: 100%;
  }
  .title-n-btn div:nth-child(2) {
    width: 100%;
    margin-top: 40px;
  }

  .toggle-box {
    flex-direction: column;
  }
  .desktop-imges {
    display: none;
  }
  .info-boxes {
    width: 100%;
  }

  .mobile-img {
    display: none;
  }

  .active .mobile-img {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .ftr-box {
    width: 48%;
  }

  .graphic-card img {
    height: 400px;
  }

  .graphic-card:hover {
    max-height: 750px;
  }

  .w-50 {
    width: 100%;
  }

  .list {
    padding: 0 20px 20px 20px;
  }

  /* footer ===========================================================================================================*/
  .inner-footer {
    padding: 45px 30px 25px 30px;
  }
  .info {
    flex-direction: column;
  }
  .contact {
    width: 100%;
  }
  .contact:nth-child(1) {
    border: none;
  }
  .copyright {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .copyright p {
    text-align: center;
  }
  .design h1 {
    font-size: 80px;
  }
}

/* =================================================================================================================== */
/* media query max width 550px */
/* =================================================================================================================== */
@media (max-width: 550px) {
  /* body section code =========================================================================================================== */

  .btn-white {
    padding: 20px 26px;
  }

  .hero-content {
    padding: 40% 0 0 0;
  }

  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content h1 span {
    font-size: 30px;
  }

  .title-h2,
  .title-h2-white {
    font-size: 28px;
  }

  .padding {
    padding: 0 10px;
  }

  .membership {
    padding: 80px 0 40px 0;
  }

  .title-h2 span .title-h2-white span {
    font-size: 28px;
  }

  .icon-card {
    width: 100%;
    height: 240px;
  }
  .border-top {
    border: none;
  }
  .border-right-left {
    border: none;
  }
  .non-border-top {
    border: none;
  }
  .everything-you-need {
    padding: 60px 0 40px 0;
  }

  .brand {
    padding: 60px 10px 40px 10px;
  }

  .box {
    border: 2px solid rgba(242, 242, 242, 0.25);
  }

  .feature {
    padding: 60px 10px 40px 10px;
  }

  .ftr-box {
    width: 100%;
  }

  .graphic-card:hover {
    max-height: 1000px;
  }

  .list {
    display: unset;
  }

  .list ul {
    padding: 0 0 10px 20px;
  }

  .list ul li {
    font-size: 16px;
  }

  /* footer ===========================================================================================================*/
  .design h1 {
    font-size: 60px;
    text-align: center;
  }
}
