@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  max-width: 1440px;
}

/* header section ===========================================================================================================*/

.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: fixed;
  z-index: 2;
}

.inner-header {
  backdrop-filter: blur(20px);
  position: relative;
  background-color: #ffffff1a;
  border-radius: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  z-index: 1;
}

.inner-header::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(360deg, #6664645c 0%, #66646430 100%);
  border-radius: 360px;
  z-index: -1;
}

.logo img {
  width: 270px;
}
.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.navbar ul li a:hover {
  color: #0b8fcf;
}

.btn-blue {
  background-color: #0b8fcf;
  color: #ffffff;
  border: 1px solid #0b8fcf;
  border-radius: 360px;
  padding: 22px 28px;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn-blue:hover {
  background-color: #ffffff;
  color: #02344d;
  border: 1px solid #ffffff;
  transition: all 0.5s ease;
}

.mobile-menu {
  display: none;
}

/* burger button start mobile */
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/* body section code ===========================================================================================================*/

.hero-section {
  border-radius: 0 0 30px 30px;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #000000 0%, #011c2a 100%),
    url("../img/hero-bg.svg");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
}

.inner-hero-section {
  display: flex;
  flex-wrap: wrap;
}

.hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20% 0 0 0;
}
.hero-content span {
  color: #ffffff;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.hero-content h1 {
  color: #ffffff;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 500;
}
.hero-content h1 span {
  color: #0b8fcf;
  font-size: 70px;
  font-weight: 900;
}
.hero-content p {
  color: #ffffff;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.btn-white {
  background-color: #ffffff;
  color: #02344d;
  border: 1px solid #ffffff;
  border-radius: 360px;
  padding: 22px 28px;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0px 15.96px 26.63px 0px #00aeef36;
}
.btn-white:hover {
  background-color: #0b8fcf;
  color: #ffffff;
  border: 1px solid #0b8fcf;
  transition: all 0.5s ease;
}

.hero-img {
  width: 50%;
}

.hero-img img {
  object-fit: cover;
  width: 120%;
  margin-left: -20px;
}

.marquee-container {
  padding: 20px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.marquee {
  display: flex;
  width: max-content;
}
.marquee img {
  width: 210px;
  height: auto;
  flex-shrink: 0;
}

.membership {
  background-color: #f2f2f2;
  padding: 120px 0 80px 0;
  display: flex;
  justify-content: center;
}
.membership p {
  text-align: center;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #434343;
}
.title {
  padding: 0 20%;
}
.para-p-tag {
  padding: 0 20%;
}
.title-h2 {
  text-align: center;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #000000;
}
.title-h2 span {
  text-align: center;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #000000;
}

.membership-cards {
  flex-wrap: wrap;
  display: flex;
  padding: 40px 0 0 0;
  justify-content: center;
}

.icon-card {
  width: 33%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  padding: 20px 100px;
}
.icon {
  background-color: #ffffff;
  padding: 21px;
  box-shadow: 0px 4px 50px 0px #0726351a;
  border-radius: 20px;
  display: flex;
  width: 100px;
  justify-content: center;
}
.icon img {
  width: 60px;
  height: 60px;
}
.icon-card h3 {
  text-align: center;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #000000;
}
.icon-card p {
  text-align: center;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000b5;
}

.border-top {
  border: 1px solid #00000066;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.border-right-left {
  border: 1px solid #00000066;
  border-bottom: none;
}

.non-border-top {
  border-top: none;
}

.everything-you-need {
  padding: 120px 0 100px 0;
  position: relative;
  overflow: hidden;
}

.mb-40 {
  margin-bottom: 40px;
}

.padding {
  padding: 0 30%;
}

.img-marquee-container {
  display: flex;
  gap: 20px;
  width: max-content;
  will-change: transform;
}

.img-card {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);
  width: 370px;
  height: 470px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* .img-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 20px;
} */

.img-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(84, 84, 84, 0) 52%, rgb(0, 0, 0) 100%);
  z-index: 1;
}

.img-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.img-card:hover::after {
  opacity: 1;
}

.overlay {
  display: flex;
  flex-direction: column;
  padding: 98% 10% 10% 10%;
  gap: 20px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.overlay h3 {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  transition: transform 0.3s ease;
}

.img-card:hover .overlay h3 {
  transform: translateY(-10px);
}

.overlay p {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffffe0;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease 0.1s;
}

.img-card:hover .overlay p {
  opacity: 1;
  transform: translateY(0);
}
.brand {
  background-color: #072635;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  padding: 110px 0;
}

.title-n-btn {
  display: flex;
  align-items: center;
}
.title-n-btn div:nth-child(1) {
  width: 55%;
}
.title-n-btn div:nth-child(2) {
  width: 45%;
  display: flex;
  justify-content: end;
}
.title-n-btn p {
  color: #0b8fcf;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.title-h2-white {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
}
.title-h2-white span {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}

.toggle-box {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
}

.desktop-imges {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.desktop-imges img {
  display: none;
  width: 90%;
  height: 650px;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.desktop-imges img.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.info-boxes {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  border: 5px solid rgba(242, 242, 242, 0.25);
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    transform 0.3s ease;
}
.box:hover {
  border: 5px solid #ffffff;
  background-color: #ffffff;
  transform: scale(1.01);
}
.box h3 {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  transition: color 0.3s ease;
}
.box:hover h3 {
  color: #000000;
}
.box p {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffffeb;
  transition: color 0.3s ease;
}
.box:hover p {
  color: #000000b5;
}
.box.active {
  background-color: #ffffff;
  border-color: #ffffff;
}
.box.active h3,
.box.active p {
  color: #000000;
}

.mobile-img {
  display: none;
  width: 100%;
  border-radius: 20px;
  margin-top: 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.feature {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.feature p {
  text-align: center;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #434343;
}
.feature-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.ftr-box {
  width: 20%;
  border: 1px solid #666666;
  border-radius: 20px;
  padding: 20px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}

.ftr-box:hover {
  cursor: pointer;
  border: 1px solid #0b8fcf;
  background-color: #0b8fcf;
  /* transform: translateY(-10px); */
  box-shadow: 0 10px 20px rgba(11, 143, 207, 0.2);
}

.ftr-box svg {
  transition: all 0.3s ease-in-out;
}

.ftr-box:hover svg path {
  fill: #ffffff;
}

.ftr-box h3 {
  color: #000000;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.ftr-box:hover h3 {
  color: #ffffff;
}

.ftr-box p {
  color: #000000b5;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.ftr-box:hover p {
  color: #ffffff;
}

.offer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  padding: 110px 0;
}

.text-start {
  text-align: start;
}

.pra-p {
  color: #434343 !important;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.graphic-box-main {
  margin-top: 40px;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}

.graphic-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #d1cfcf;
  transition: all 0.3s ease;
  overflow: hidden;
  height: auto;
  max-height: 500px;
}
.graphic-card:hover {
  box-shadow: 0px 4px 39px 0px rgba(0, 0, 0, 0.25);
  max-height: 1000px;
  transition: all 0.5s ease;
}

.graphic-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 40px;
  transition: transform 0.3s ease;
}

.graphic-card h3 {
  color: #000000;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.graphic-card:hover h3 {
  color: #2a2a2a;
}

.list-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.graphic-card:hover .list-container {
  max-height: 500px;
  display: block;
}

.list {
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease 0.2s;
}
.graphic-card:hover .list {
  opacity: 1;
  transform: translateY(0);
}
.list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list ul li {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #343434b0;
  font-weight: 500;
  transition: all 0.3s ease;
}
.list ul li:hover {
  color: #000000;
  transform: translateX(5px);
}

.w-50 {
  width: calc(50% - 10px);
}

.w-100 {
  width: 100%;
}

.title-n-btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.btn-white {
  background-color: white;
  color: black;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-white:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.people {
  padding: 100px 0;
  overflow: hidden;
}

.people p {
  text-align: center;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #434343;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-dot {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #0b8fcf;
}

.price {
  background-color: #072635;
  padding: 100px 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.price-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.price-card {
  width: calc(33% - 10px);
  border: 10px solid #d9d9d9;
  padding: 33px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btn-prpl {
  padding: 20px 50px;
  background-color: #ebecfc;
  color: #7a81ee;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #ebecfc;
  border-radius: 360px;
}
.prc-btn {
  padding: 20px 50px;
  background-color: #0b8fcf;
  color: #ffffff;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 800;
  border: 1px solid #0b8fcf;
  border-radius: 360px;
  text-align: center;
}

.price-card p {
  color: #000000b5;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.prc-info-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.prc-info-list li {
  color: #000000;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: start;
  padding: 10px 0;
  border-bottom: 1px solid #00000017;
  width: 100%;
  align-items: start;
}
.prc-info-list li img {
  width: 20px;
}

.let-work {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
.let-work p {
  text-align: center;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #434343;
}

/* footer section ===========================================================================================================*/
.footer-main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.inner-footer {
  background-color: #000000;
  border-radius: 60px;
  padding: 65px 65px 25px 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-footer a img {
  width: 370px;
}
.info {
  display: flex;
  width: 100%;
  border: 1px solid #ffffff4f;
  border-right: none;
  border-left: none;
  padding: 40px 0;
  margin: 30px 0;
  gap: 40px;
}
.info span {
  color: #ffffff;
}
.contact {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 50%;
}
.contact:nth-child(1) {
  border: 1px solid #ffffff4f;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.copyright p {
  color: #bebebe;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.design {
  display: flex;
  justify-content: center;
}
.design h1 {
  color: #0b8fcf;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 160px;
  font-weight: 900;
  text-transform: uppercase;
}
